{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:react-native/all",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "react",
    "react-native",
    "flowtype"
  ],
  "env": {
    "node": true,
    "jasmine": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": false
    }
  },
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ]
  }
}
